.square1 {
    width: 50px;
    height: 50px;
    border: 1px solid red;
}

.square2 {
    width: 50px;
    height: 50px;
    border: 1px solid blue;
    position: relative;
    top: 20px;
    left: 70px;
}

.square3 {
    width: 50px;
    height: 50px;
    border: 1px solid green;
    position: relative;
    top: 40px;
    left: 140px;
}