table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

thead {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: #000000;
}

th,
td {
    border: 1px solid black;
}

#day {
    width: 10%;
}

#mini {
    width: 3%;
}

#time {
    width: 10%;
}