table {
    width: 855px;
    height: 317px;
    border-collapse: collapse;
    margin: auto;
}

td {
    border: 2px solid white;
    text-align: center;
    background-color: #d4e8f4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    width: 100px;
}

.name {
    text-align: left;
    background-color: #a4cfea;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 17px;
    width: 170px;
}

.top {
    text-align: center;
    font-weight: bolder;
    background-color: #a4cfea;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#nametop {
    text-align: left;
    font-weight: bolder;
    background-color: #a4cfea;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 17px;
}